<div class="movie-card" data-controller="edit-movie" data-edit-movie-target="card">
  <%= image_tag movie.image_url %>

  <div class="movie-infos" data-edit-movie-target="infos">
    <h2><%= movie.title %><small> (<%= movie.year %>)</small></h2>
    <button aria-label="Edit movie">
      <i class="fa-solid fa-pen fa-xs ml-2" data-action="click->edit-movie#reveal"></i>
    </button>
  </div>

  <%= simple_form_for movie, html: {class: "d-none", data: {edit_movie_target: "form", action: "submit->edit-movie#update"}} do |f| %>
    <%= f.input :title %>
    <%= f.input :year %>
    <%= f.submit "Update movie", class: "btn btn-sm btn-primary btn-block mt-2" %>
  <% end %>
</div>
